<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <% Dir.glob("*", base: "app/assets/images/img/home/partners").each do |file| %>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/#{file}", :alt => "partner-img") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>