<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'light_section', name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'taxonomies', taxonomies: @taxonomies %>
        <%= render 'color' %>
        <%= render 'size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area'%>
        <div class="row">
          <%= render partial: "product", collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LIGHT SECTION -->
<%= render 'brand_belt'%>
