<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%= render 'layouts/head' %>
  <!-- BODY -->
  <body>
    <div class="main-wrapper">
      <!-- HEADER -->
      <div class="header clearfix">

      <!-- TOPBAR -->
      <%= render 'potepan/products/topbar' %>

      <!-- NAVBAR -->
      <%= render 'potepan/products/navbar' %>
      </div>
      <%= yield %>
    </div>
    <!-- FOOTER -->
    <%= render 'layouts/footer' %>

    <!-- LOGIN MODAL -->
    <%= render 'potepan/products/login_modal' %>

    <!-- SIGN UP MODAL -->
    <%= render 'potepan/products/sign_up_modal' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>